<div class="container">
        <h4 class="text-center">Find whether information about your country or city</h4>
    <div class="row">

      <input type="text" [(ngModel)]="inputEm" id="disabledTextInput" class="form-control" placeholder="Please enter your country / city name">
      <button type="button" class="btn btn-primary" (click)="search(inputEm)" name="button">Search</button>
    </div>
      <code>{{inputEm}}</code>
      <div class="text-center makeMeBig" *ngIf="loading">loading...</div>
      <app-whether-card *ngIf="!loading" [w]="result"></app-whether-card>
  </div>
